<div class="container py-5">

    <!-- For demo purpose -->
    <header class="text-white text-center">
        <h1 class="display-4">Style My Picture</h1>
        <p class="lead mb-0">Transform Your Picture Into Art Using Deep Learning</p>
        <p class="mb-5 font-weight-light"> By Lotfi HOCINI
        </p>
        <p class="mb-5 font-weight-light"> <a href="mailto:hocini.lotfi@gmail.com?subject=Style My Picture">Contact
                Me</a>
        </p>


        <img src="{{ url_for('static', filename='images/lotfi.jpg') }}" alt="" width="150" class="mb-4">
    </header>
</div>